* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
}
.dom-container {
  background-image: linear-gradient(to right bottom, #f7c539, #9e068f);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.start-timer-container {
  display: flex;
  align-items: center;
  width: 600px;
  margin-bottom: 10px;
}
.content-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#game-over{
  font-size: 24px;
  color:white;
  font-weight: bold;
}
#start {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  border: none;
  background-color: black;
  color: white;
  margin-right: 10px;
  cursor: pointer;
}
.moves-timer {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

#game-container {
  background-image: linear-gradient(to left top, #f7c539, #9e068f);
  width: 600px;
  height: 600px;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  width: 20%;
  height: 20%;
  cursor: pointer;
  margin: 5px;
  background-color: white;
  border-radius:8px;
}
.image {
  width: 100%;
}
.card .front,
.card .back {
  position: absolute;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: transform 0.8s ;
  backface-visibility: hidden;
}

.card .front {
  text-align: center;
  line-height: 100px;
  background-color: white;
  transform: rotateY(180deg);
}

.card.flipped .back {
  transform: rotateY(180deg);
}

.card.flipped .front {
  transform: rotateY(0) rotateZ(0);
}


@media (max-width:650px){
  #game-container{
    width:400px;
    height: 400px;
  }
  .start-timer-container {
    width:400px;
  }
}

